@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Code+Pro:wght@400;700&display=swap');

html {
	font-family: 'Source Code Pro', monospace;
}

h1 {
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 2px;
}

p {
	margin: 15px 0;
	line-height: 1.8;
}

.blog-text ul,
ol {
	font-size: 110%;
	line-height: 2.3;
	font-weight: bold;
	margin: 10px 0;
}

.blog-text pre {
	background: #f4f4f4;
	padding: 20px;
	margin: 20px 0;
	line-height: 1.2;
	overflow-x: scroll;
}

.blog-text h1 {
	font-size: 35px;
}

.blog-text h2,
.blog-text h3,
.blog-text h4 {
	font-size: 27px;
}

/* Fix category colors in production */
.bg-yellow-600 {
	background-color: #d97705;
}
.bg-blue-600 {
	background-color: #3929eb;
}
.bg-green-600 {
	background-color: #049669;
}
.bg-purple-600 {
	background-color: #7730db;
}
.bg-red-600 {
	background-color: #a70b34;
}

/* button */

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: Marvel;
	font-size: 25px;
	height: 35px;
	position: relative;
	color: #bbb;
	z-index: 1;
	transition: all 0.5s ease-in-out;
	border-radius: 5px;
	margin: 5px;
}

.buttonSecondary {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	border: solid #bbb 2px;
	color: #bbb;
	z-index: 1;
	transition: all 0.5s ease-in-out;
	border-radius: 5px;
	margin: 5px;
	padding: 5px 15px;
}
.button:focus {
	outline: none;
}
.btn-2 {
	background-image: -webkit-linear-gradient(
		30deg,
		transparent 50%,
		#7730db 50%
	);
	background-image: linear-gradient(30deg, transparent 50%, #7730db 50%);
	background-size: 298%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0%;
}
.btn-2:hover {
	background-position: 100%;
	color: #f1f1f1;
	border-color: #7730db;
}

/* search field */

.searchField {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 20px;
	width: 250px;
	height: 35px;
	position: relative;
	border: solid #bbb 2px;
	color: #bbb;
	z-index: 1;
	border-radius: 5px;
	margin: 5px;
	padding: 5px 15px;
}
